@model ReserViteApplication.Models.Chambre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chambre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomChambre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomChambre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrixParNuit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixParNuit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDePersonnes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreDePersonnes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstDisponible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstDisponible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo4)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChambreId">Modifier</a> |
    <a href="~/Admins/GererChambres">Retouner dans la page de gestion de chambre</a>
</div>

